<app-loading *ngIf="isLoading"></app-loading>
<ng-container *ngIf="form" [formGroup]="form">
  <div mat-dialog-content class="dialog-content grid-3-cl">

    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Razão social</mat-label>
      <input matInput formControlName="cnpj" type="tel" [cpfcnpj] required>
      <mat-error *ngIf="!form?.get('cnpj')?.valid">Informe o CPF da Empresa</mat-error>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="!form?.get('name')?.valid">Informe o Nome da Empresa</mat-error>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="!form?.get('name')?.valid">Informe o Nome da Empresa</mat-error>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="!form?.get('name')?.valid">Informe o Nome da Empresa</mat-error>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Data de credenciamento</mat-label>
      <input matInput formControlName="date" required>
      <mat-error *ngIf="!form?.get('name')?.valid">Informe o Nome da Empresa</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-content class="dialog-content grid-3-cl">
    <mat-label>Descredenciamento</mat-label>
    <textarea style="position:relative; right: 90px"></textarea>
  </div>
  <div mat-dialog-actions class="bg-buttons flex-end" *ngIf="data">
    <button class="close-button" mat-button (click)="closeDialog()">Sair</button>
    <button class="save-button" mat-button cdkFocusInitial (click)="onSubmit(form.value)">Salvar</button>
  </div>
</ng-container>
