:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--main-color);
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000070;
  top: 0;
  left: 0;
  z-index: 100000000000000020000000000;
  right: 0;
}
