:root {
  --main-color-very-light: #b8263f;
  --main-color: #861b2d;
  --main-color-darker: #661623;
  --default-light: #ff4747;
  --default-dark: #9b2a2a;
  --default-dark-3: #a53030;
  --default-dark-4: #691f1f;
  --danger: #e94a50;
  --danger-darker: #b33d41;
  --green: #2bd142;
  --orange: #d86420;
  --yellow: #dad614;
  --green-darker: #22a734;
  --green-light: #64d874;
  --text-main-color: #656565;
  --text-main-color-darker: #4d4d4d;
  --border-main-color: #656565;
  --border-order-color: #efefef;
  --border-order-color-darker: #e3e3e3;
  --text-light-main-color: #9c9c9c;
  --page-title-border-color: #cfdbe2;
  --light-blue: #0dcaf0;
  --blue: #275ab9;
  --default-border-color: #dbdbdb;
}
