<app-loading *ngIf="isLoading"></app-loading>
<div class="page-container flex-center">
  <div class="header flex-between" *ngIf="data">
    <div class="data employees flex-between" *ngIf="data.person">
      <div class="icon flex-center">
        <i class="fas fa-user"></i>
      </div>
      <div class="info flex-center">
        <h2 class="first-line">{{data.person.quantity}}</h2>
        <h4 class="second-line">PESSOAS</h4>
      </div>
    </div>
    <div class="data equipments flex-between" *ngIf="data.company">
      <div class="icon flex-center">
        <i class="fas fa-tools"></i>
      </div>
      <div class="info flex-center">
        <h2 class="first-line">{{data.company.quantity}}</h2>
        <h4 class="second-line">EMPRESAS</h4>
      </div>
    </div>
    <div class="data equipmentsLoaneds flex-between" *ngIf="data.equipmentsLoaned">
      <div class="icon flex-center">
        <i class="fas fa-tools"></i>
      </div>
      <div class="info flex-center">
        <h2 class="first-line">{{data.equipmentsLoaned.quantity}}</h2>
        <h4 class="second-line">EQUIPAMENTOS EMPRESTADOS</h4>
      </div>
    </div>
    <div class="data hours flex-between" *ngIf="data.date">
      <div class="icon flex-center">
        <h2 class="first-line">{{data.date.month}}</h2>
        <h4 class="second-line">{{data.date.day}}</h4>
      </div>
      <div class="info flex-center">
        <h2 class="first-line">{{data.date.weekDayName}}</h2>
        <h4 class="second-line">{{data.date.hour}}</h4>
      </div>
    </div>
  </div>
</div>
